.order__title{
    display: flex;
    justify-content: space-between
}
.order__title .link{
    float: right;
    font-size: 12px; 
}
.profile__item{
    position: relative;
}
.profile__item .bx-soa-tooltip{
    position: absolute;
    bottom: -15px;
    color: #DB1F26;
    font-size: 12px;
}
.bx-soa-pp-company-image{
    position: absolute;
    right: 20px;
    bottom: 15px;
    width: 55px;
    height: 35px;
    z-index: 100;
    display: block;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
/*.bx-step-completed .bx-soa-section-content{
    padding-left: 25px;
}*/
.bx-step-completed .bx-soa-section-content p{
    font-size: 15px;
}
.bx-soa-section-content p{
    font-size: 15px;
}

.bx-soa-pp-company-selected{
    margin-right: 7px;
}
.gray-border-top{
    border-top: 1px solid #E8EBED;
    padding-top: 30px;
}
.order__content{
    gap: 30px;
}
.bx-soa-section-content li{
    list-style: none;
}
.bx-soa-pp-desc-container{
    padding: 20px 0px;
}
#bx-soa-properties .bx-soa-more{
    display: none;
}
.alert{
    border-radius: 4px;
}
.bx-selected .bx-soa-editstep{
    display: none;
}
#bx-soa-properties.bx-step-completed li{
    margin-bottom: 4px;
}